<!doctype html>
<html lang="en">
<head>
  <title>MakersBnB - Index</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="generator" content="Jekyll v4.1.1">

  <%= erb :head_css %>

</head>

<body>
<%= erb :header %>

</body>
</html>