<div id="header" style="font-family: Arial; background-color: #20B2AA; width: 100%; color: white; padding-top: 10px; padding-bottom: 10px;">
<<<<<<< HEAD
  <h1 align="center">MakersBnB</h1>
</div><!-- // header -->
=======
<h1 align="center">MakersBnB</h1>
</div><!-- // header -->
>>>>>>> 155b8ed19fb4ddf0b5e25ee1345c7d1d27609eb2
