<div id="header" style="font-family: Arial; background-color: #20B2AA; width: 100%; color: white; padding-top: 10px; padding-bottom: 10px;">
  <h1 align="center">MakersBnB</h1>
</div><!-- // header -->