<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MakersBnb</title>
</head>
<body>
  <div>
    <h1> MakersBnB </h1>
    <nav>
        <a href="/add_space">List your property</a>
    </nav>
  </div>

  <% if @user %>
    <h3> Welcome, <%= @user.name %> </h3>
    <form action="/sessions/destroy" method="post">
      <input type="submit" value="Log Out" >
    </form>
  <% else %>
    <h3> Welcome </h3>
    <div>
      <ul>
        <li>
          <a href="/users/new">Sign Up</a>
        </li>
        <li>
          <a href="/sessions/new">Login</a>
        </li>
      </ul>
    </div>
  <% end %>
  <%= flash[:notice] %>
</body>
