<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MakersBnb</title>
</head>
<body>
  <div>
    <h1> MakersBnB </h1>
  </div>

  <div>
    <ul>
      <li>
        <a href="/sessions/new">Login</a>
      </li>
    </ul>
  </div>

  <div>
    <h3> Sign Up </h3>
    <form action="/users" method="post">
      <label for="name">Name</label>
      <input type="text" name="name" required>
      <label for="email">Email</label>
      <input type="email" name="email" required>
      <label for="password">Password</label>
      <input type="password" name="password" autocomplete="off">
      <input type="submit" value="Submit">
    </form>
  </div>
  
  
  <!--<% if @user %>
    <h3> Welcome, <%= @user.name %> </h3>
    <form action="/sessions/destroy" method="post">
      <input type="submit" value="Log Out" >
    </form>
  <% else %>
    <h3> Welcome </h3>
    
  <% end %>
  <%= flash[:notice] %> -->
</body>
