<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css" type="text/css">
  </head>

  <body>
    <header>
      <h1>
        MakersBnB Spaces
      </h1>
    </header>

    <div>
      <form action="/sessions/destroy" method="post">
        <input type="submit" value="Log Out" >
      </form>
    </div>

    <main>
      <section class="display-spaces">
        <ul>
          <% @spaces.map { |entry| %>
          <li><%= entry.name %></li>
          <li><%= entry.description %></li>
          <li><%= entry.location %></li>
          <li><%= entry.price %></li>
          <%# user = @user_class.find(id: entry.user_id ) %>
<!--            <li><%#= user.name %></li>-->
<!--            To be continued...-->
        </ul><br><br>
          <%} %>
      </section>
    </main>
  </body>
</html>