<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login to Makers BnB</title>
</head>
<body>
  <div>
    <h1>Login to Makers BnB</h1>
  </div>
  <div>
    <h3> <%= flash[:notice] %>
    <form action="/sessions" method="post">
      <label for="email">Email</label>
      <input type="email" name="email" placeholder="email" required>
      <br>
      <label for="password">Password</label>
      <input type="password" name="password" placeholder="password" autocomplete="off">
      <br>
      <input type="submit" value="Login">
    </form>
  </div>

  <div>
    <p>Don't have an account? Sign up <a href="/">here</a> </p>
  </div>
</body>
</html>