<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= erb :head_css %>

</head>
<body>
<%= erb :header %>
<%= erb :navbar %>
<main>
  <section class="confirmation-message">
    <p> Your booking request has been sent! </p>
    <p>Return to <a href="/dashboard">dashboard</a></p>
  </section>
</main>
</body>
</html>