<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="generator" content="Jekyll v4.1.1">
  <title>Floating labels example · Bootstrap</title>
  <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/floating-labels/">
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/bootstrap-grid.css">
  <link rel="stylesheet" href="css/bootstrap-reboot.css">
  <script src="/js/bootstrap.min.js"></script>
  <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
  <style>
      .bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
      }
      @media (min-width: 768px) {
          .bd-placeholder-img-lg {
              font-size: 3.5rem;
          }
      }
  </style>
  <!-- Custom styles for this template -->
</head>
<body>
<main>
  <section class="confirmation-message">
    <p> Your booking request for <%= @space.name %> has been sent! </p>
    <p>Return to <a href="/dashboard">dashboard</a></p>
  </section>
</main>
</body>
</html>