<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MakersBnb</title>
</head>
<body>

<div>
  <h1> Sign Up </h1>
</div>

<div>
  <form action="/users" method="post">
    <label for="name">Name</label>
    <input type="text" name="name" required>
    <label for="email">Email</label>
    <input type="email" name="email" required>
    <label for="password">Password</label>
    <input type="password" name="password" autocomplete="off">
    <input type="submit" value="Submit">
  </form>
</div>

</body>